img{
    width: 300px;
    height: 300px;
    display: block;
}
/*
.header{
    width: 100%;
    display: block;
} 
*/
 .span{
    font-size: 1.3rem;
    color: #aaa;
} 

.img{
   display: flex;
   justify-content: center;
} 

.header{
    margin-top: 120px;
    text-align:center;
    margin-bottom : 20px;
}